
        body{
            text-align: center;
            margin: 0;
            background-color: #222;
            color: white;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            user-select: none;
        }

        
        .dbSec{
            background-color: #444;
        }

        #cashCount{
            font-size: 24px;
            font-family: 'Courier New', Courier, monospace;
            color:magenta;
            font-weight: bold;
        }
        #cashIncome{
            font-size: 18px;
            font-family: 'Courier New', Courier, monospace;
            color:magenta;
            font-weight: bold;
        }
        
        
        .btn{
            background-color: lime;
            border-radius: 5px;
            font-size: 18px;
            padding: 2px;
            color:black;
            cursor: pointer;
            border-radius: 5px 5px 0 0;
        }
        
        .prestigeBuy{
            background-color: white;
        }

        .tsBuy{
            background-color: magenta;
        }

        .cantBuy{
            background-color: #777;
            color: black;
            border-color: #777;
        }

        

        

        #relBlock, #compBlock{
            box-sizing: border-box;
        }

        

        .dimBlock {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 5px;
            grid-row-gap: 0px;
            padding: 5px 0;
        }        

        .dimName { 
            grid-area: 1 / 1 / 3 / 2; 
            line-height: 25px;
            min-width: 120px;
        }
        .dimMulti { 
            grid-area: 2 / 1 / 3 / 2; 
            line-height: 25px;
            font-size: 14px;
            color: #ccc;
        }
        .dimCount { 
            grid-area: 1 / 2 / 3 / 3; 
            line-height: 50px;}
        .dimBtn { 
            grid-area: 1 / 3 / 2 / 4; 
            max-width: 300px;
            min-width: 120px;
        }
        .dimBar { 
            grid-area: 2 / 3 / 3 / 4; 
            border-color: lime;
            border-width: 1px;
            border-style: solid;
            border-radius: 0 0 5px 5px;
            background-color: #111;
            overflow: hidden;
            max-width: 302px;
            min-width: 122px;
            cursor: pointer;
        }
        .dimBar span{
            position: relative;
            display: block;
            height: 100%;
            z-index: 15;
        }
        .buy10Bar{
            background-color: seagreen;
            width: 0;
            z-index: 5 !important;
            top: -100%;
        }
        .buy10BarBought{
            background-color: limegreen;;
            height: 100%;
            width: 0;
            z-index: 10 !important;
            top: -200%;
        }
        #barTs{
            cursor: pointer;
        }

        .dimBtn:hover, .dimBar:hover, #barTs:hover{
            filter: hue-rotate(30deg);
        }

        #mamiBlock{
            background-color: #111;
            border: 1px solid orange;
            height: 30px;
            width: 100%;
            border-radius: 5px;
            margin: 5px 0;
            overflow: hidden;
            box-sizing: border-box;
        }

        #mamiPercentage{
            display: block;
            height: 100%;
            width: 100%;
            text-align: center;
            line-height: 30px;
            position: relative;
            z-index: 10;
            top: -100%;
            color: white;
            font-size: 20px;
        }

        #gmModule {
            display: grid;
            grid-template-columns: 1fr repeat(2, 2fr) 3fr;
            grid-template-rows: repeat(5, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 5px;
            }

            #mpCount { grid-area: 2 / 1 / 3 / 2; }
            #mpContainer { grid-area: 3 / 1 / 6 / 2; }
            #containerCapCount { grid-area: 2 / 2 / 3 / 3; }
            #containerCapUpgrade { grid-area: 2 / 3 / 3 / 4; }
            #mpMultiplierCount { grid-area: 3 / 2 / 4 / 3; }
            #mpMultiplierUpgrade { grid-area: 3 / 3 / 4 / 4; }
            #galcticBoostCount { grid-area: 4 / 2 / 5 / 3; }
            #galcticBoostUpgrade { grid-area: 4 / 3 / 5 / 4; }
            #gmTitle {
                grid-area: 1 / 1 / 2 / 5; 
                text-align: center;
                background-color: purple;
                border-radius: 5px 5px 0 0;
                padding: 5px 0;
                letter-spacing: 5px;
                font-size: 24px;
            }
            #mpUpgradeContainer { grid-area: 2 / 4 / 6 / 5; 
               overflow-y: scroll;
               height: 200px;

            }
            #mpDimUnlock { grid-area: 5 / 2 / 6 / 4; }

            .mpRepeatableCount{
                border-radius: 5px 0 0 5px;
                border-color: purple;
                border-left-width: 1px;
                border-bottom-width: 1px;
                border-top-width: 1px;
                border-right-width: 0px;
                border-style: solid;
            }
            .mpRepeatableUpgrade{
                border-radius: 0 5px 5px 0;
                border-color: purple;
                border-left-width: 0px;
                border-bottom-width: 1px;
                border-top-width: 1px;
                border-right-width: 1px;
                border-style: solid;
                background-color: purple;
            }
            .mpUpgradeBox{
                border: 1px solid purple;
                border-radius: 5px;
                padding: 5px;
                margin: 0 5px 5px 5px;
            }


.notification{

    display: block;
    position: fixed;
    bottom: 5px;
    left: 5px;
    width: 300px;
    height: 48px;
    line-height: 24px;
    padding: 5px;
    background-color: #000000EE;
    text-align: left;
    color: white;
    border: 1px solid lime;
    z-index: 2000;
}      

#btnMax{
    
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
    color:white;
    border: 1px lime solid;
    cursor: pointer;
    width: 120px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    
    
}

#btnMax:active{
    background-color: lime;
    
}

.clear{
    clear: both;
}

.prestigeContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    margin: 5px auto;
    
}

.compressBlock{
    border: 1px lime solid;
    border-radius: 5px;
    max-width: 300px;
    min-width: 180px;
    margin: 0 5px;
    box-sizing: border-box;
    height: 355px;
}

.compressTitle{
    letter-spacing: 5px;
    width: 100%;
    background-color: lime;
    line-height: 30px;
}
.compressIcon{

    font-size: 60px;
    line-height: 80px;
    color: lime;
    filter: drop-shadow(2px 4px 3px black);
    border: 3px solid lime;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 5px auto 10px;
}
.compressDesc{
    width: 90%;
    text-align: justify;
    margin: 2px auto 10px;
    height: 115px;
}
.compressBtn{
    border-radius: 5px;
    width: 160px;
    line-height: 25px;
    margin: 2px auto;
    border: 1px black solid;
    cursor: pointer;
}
.compressCount{
    line-height: 20px;
}
.compressCost{
    background-color: black;
    display: inline-block;
    border-radius: 5px;
    width: 100%;
    line-height: 25px;
}

.relInactive{
    background-color: #777;
    border-color: #777;
    color: black;
}
.relInactive span{
    color: white;
}
.relActive{
    background-color: magenta;
    border-color: magenta;
}

.compActive{
    background-color: lime;
    border-color: lime;
}

.heavenActive{
    background-color: orange;
    border-color: orange;
}

.releaseBg{
    background-color: magenta;
}
.releaseBor{
    border-color: magenta;
}



.tabs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    height: 45px;
}

.tab{
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    border: 1px red solid;
    margin: 0 3px 0 0;
    transition: width 0.2s,height 0.2s,line-height 0.2s;
    cursor: pointer;
}

.tabActive{
    width: 80px;
    height: 40px;
    line-height: 40px;
    background-color: #111;
    color: white;
}

.upgrade{
    border-color: orange;
    font-size: 14px;
    line-height: 20px;
    margin: 5px 0;
    transition-duration: 0.2s;
    background-color: #111;
}

.upgrade span{
    line-height: 25px;
    font-size: 16px;
    color:white !important;
}
#upgradeTab{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 800px;
    margin: 0 auto;
}
.upgUnlocked{
    background-color: orange;
    color:black;
}
.upgUnavailable{
    background-color: #777;
    border-color: #777;
    color: black;
}
.upgText{
    height: 110px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#automatorTab{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 800px;
    margin: 0 auto;

}

.automator{
    width: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid cyan;
}

.automatorBtn{
    width: 120px;
    border-color: cyan;
    background-color: cyan;
    color: black;
    margin: 2px;

}

.automatorBtn span{
    color:white;
}

.autoTitle{
    width: 100px;
}
.autoDelay{
    width: 50px;
}
.autoEnabled{
    height: 30px;
    width: 70px;
    border-radius: 5px;
    border: 1px cyan solid;
    background-color: cyan;
    color: black;
    line-height: 30px;
    cursor: pointer;

}
.autoUnavailable{
    background-color: #777;
    border-color: #777;
    color: black;
}